<div class="app_container">
  <app-navigation-top></app-navigation-top>
  <app-navigation-side></app-navigation-side>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

  <!-- DEV Purposes -->
  <button mat-fab class="dev_authorize_button_online" (click)="toggleLoginStatus()" *ngIf="devAuthService.isLoggedIn()">
    <mat-icon>remove_red_eye</mat-icon>
  </button>
  <button mat-fab class="dev_authorize_button_offline" (click)="toggleLoginStatus()" *ngIf="!devAuthService.isLoggedIn()">
    <mat-icon>remove_red_eye</mat-icon>
  </button>
</div>
