.app_container {
    width: calc(100% - 190px);
    height: calc(100% - 105px);
    position: fixed;
    top: 65px;
    left: 190px;
    background-color: rgb(123, 31, 162);
    padding: 10px;
    overflow-y: scroll;
}

.dev_authorize_button_online {
    background-color: rgb(26, 25, 25);
    color: green;
    position: fixed;
    right: 10px;
    bottom: 55px;
}

.dev_authorize_button_offline {
    background-color: rgb(26, 25, 25);
    color: red;
    position: fixed;
    right: 10px;
    bottom: 55px;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1250px) {
    .app_container {
        width: 100%;
        left: 0;
        height: calc(100% - 115px);
    }
    
    .dev_authorize_button_online {
        bottom: 65px;
    }

    .dev_authorize_button_offline {
        bottom: 65px;
    }

}