<div class="about_items_container">
    <mat-card class="about_item_container">
        <div class="about_item_header">
            Global information
        </div>
        <p class="about_item_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ipsum ipsum. Sed justo purus, interdum sed nisi eget, venenatis dictum augue. Etiam cursus lectus et pulvinar venenatis. Integer sed est sem. Donec enim turpis, condimentum at purus sed, egestas pulvinar ligula. Proin ac metus ex. Nullam vehicula felis vel purus semper blandit. Mauris egestas, turpis sit amet tincidunt vulputate, dui erat malesuada dui, a mollis enim diam in leo.
            Morbi nec arcu ultricies, rhoncus leo eget, fringilla velit. In nec nunc cursus, scelerisque enim vitae, accumsan nibh. Donec elementum augue at ligula rutrum vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim lectus at justo cursus mattis. Vestibulum sapien ante, vulputate et lectus ut, pellentesque tincidunt turpis. Sed volutpat metus a lorem condimentum tincidunt. Cras non lacus aliquam, suscipit erat ac, suscipit libero. Ut et vulputate magna, et fringilla ipsum. Nulla posuere turpis id nisi lobortis porttitor. Nulla vel dignissim leo, sit amet pretium arcu. Nulla augue massa, ullamcorper vitae commodo ultrices, sagittis ac augue.
        </p>
    </mat-card>
    <mat-card class="about_item_container">
        <div class="about_item_header">
            Team finding algorithm
        </div>
        <p class="about_item_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ipsum ipsum. Sed justo purus, interdum sed nisi eget, venenatis dictum augue. Etiam cursus lectus et pulvinar venenatis. Integer sed est sem. Donec enim turpis, condimentum at purus sed, egestas pulvinar ligula. Proin ac metus ex. Nullam vehicula felis vel purus semper blandit. Mauris egestas, turpis sit amet tincidunt vulputate, dui erat malesuada dui, a mollis enim diam in leo.
            Morbi nec arcu ultricies, rhoncus leo eget, fringilla velit. In nec nunc cursus, scelerisque enim vitae, accumsan nibh. Donec elementum augue at ligula rutrum vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim lectus at justo cursus mattis. Vestibulum sapien ante, vulputate et lectus ut, pellentesque tincidunt turpis. Sed volutpat metus a lorem condimentum tincidunt. Cras non lacus aliquam, suscipit erat ac, suscipit libero. Ut et vulputate magna, et fringilla ipsum. Nulla posuere turpis id nisi lobortis porttitor. Nulla vel dignissim leo, sit amet pretium arcu. Nulla augue massa, ullamcorper vitae commodo ultrices, sagittis ac augue.
        </p>
    </mat-card>
    <mat-card class="about_item_container">
        <div class="about_item_header">
            Usage of user-data
        </div>
        <p class="about_item_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ipsum ipsum. Sed justo purus, interdum sed nisi eget, venenatis dictum augue. Etiam cursus lectus et pulvinar venenatis. Integer sed est sem. Donec enim turpis, condimentum at purus sed, egestas pulvinar ligula. Proin ac metus ex. Nullam vehicula felis vel purus semper blandit. Mauris egestas, turpis sit amet tincidunt vulputate, dui erat malesuada dui, a mollis enim diam in leo.
            Morbi nec arcu ultricies, rhoncus leo eget, fringilla velit. In nec nunc cursus, scelerisque enim vitae, accumsan nibh. Donec elementum augue at ligula rutrum vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim lectus at justo cursus mattis. Vestibulum sapien ante, vulputate et lectus ut, pellentesque tincidunt turpis. Sed volutpat metus a lorem condimentum tincidunt. Cras non lacus aliquam, suscipit erat ac, suscipit libero. Ut et vulputate magna, et fringilla ipsum. Nulla posuere turpis id nisi lobortis porttitor. Nulla vel dignissim leo, sit amet pretium arcu. Nulla augue massa, ullamcorper vitae commodo ultrices, sagittis ac augue.
        </p>
    </mat-card>
    <mat-card class="about_item_container">
        <div class="about_item_header">
            Gathering and storing data
        </div>
        <p class="about_item_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ipsum ipsum. Sed justo purus, interdum sed nisi eget, venenatis dictum augue. Etiam cursus lectus et pulvinar venenatis. Integer sed est sem. Donec enim turpis, condimentum at purus sed, egestas pulvinar ligula. Proin ac metus ex. Nullam vehicula felis vel purus semper blandit. Mauris egestas, turpis sit amet tincidunt vulputate, dui erat malesuada dui, a mollis enim diam in leo.
            Morbi nec arcu ultricies, rhoncus leo eget, fringilla velit. In nec nunc cursus, scelerisque enim vitae, accumsan nibh. Donec elementum augue at ligula rutrum vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim lectus at justo cursus mattis. Vestibulum sapien ante, vulputate et lectus ut, pellentesque tincidunt turpis. Sed volutpat metus a lorem condimentum tincidunt. Cras non lacus aliquam, suscipit erat ac, suscipit libero. Ut et vulputate magna, et fringilla ipsum. Nulla posuere turpis id nisi lobortis porttitor. Nulla vel dignissim leo, sit amet pretium arcu. Nulla augue massa, ullamcorper vitae commodo ultrices, sagittis ac augue.
        </p>
    </mat-card>
</div>
