<nav class="navigation_top_container">
    <div class="logo_container">
        <div class="logo"></div>
        <div class="logo_lower_text"><p>Powered by the Marvel- and Steam API.</p></div>
    </div>
    <div class="search_bar_container">
        <div class="search_bar">
            <app-search></app-search>
        </div>
        <div class="search_button_container">
            <button mat-flat-button class="search_button"><mat-icon>search</mat-icon></button>
        </div>
    </div>
</nav>
