.home_items_container {
    width: calc(100% + 10px);
}

.home_item_container {
    background-color: #161616;
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    height: 210px;
}


.new_team_table {
    width: 100%;
}

.new_team_table_header {
    height: 30px;
    background-color: #161616;
}

.new_team_table_data {
    height: 30px;
    background-color: #161616;
}

.new_team_table_item {
    padding-top: 8px;
}


.home_graph_container {
    background-color: #161616;
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    height: 210px;
}

.home_graph_used_heroes {
    width: 100%;
    margin-left: calc(50% - 150px);
}

.home_item_header_text {
    font-size: 13pt;
    text-align: center;
    padding-bottom: 5px;
}

@media only screen and (max-width: 900px) {
    .home_items_container {
        width: 100%;
    }
    
    .home_item_container {
        width: 100%;
    }
    
    .home_graph_container {
        width: 100%;
    }
}