.home_items_container {
    width: calc(100% + 10px);
}

.home_item_container {
    background-color: #161616;
    width: calc(50% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    min-height: 100px;
}

.new_team_table {
    width: 100%;
}

.new_team_table_header {
    height: 30px;
    background-color: #161616;
}

.new_team_table_data {
    height: 30px;
    background-color: #161616;
}

.new_team_table_item {
    padding-top: 8px;
}

@media only screen and (max-width: 900px) {
    .home_items_container {
        width: 100%;
    }
    
    .home_item_container {
        background-color: #161616;
        width: 100%;
        margin-bottom: 10px;
        min-height: 100px;
    }
}